fieldset{
    display:        inline;
    vertical-align: top;
    min-width:      45%;
    min-height:     500px;
}

.label{
	display: inline-block;
	float: left;
	width: 10em;
	vertical-align: top;
	text-align: right;
	margin-right: 15px;
}

header {
    padding: 5px;
}

.container > div {
    display: inline-block;
    zoom: 1; /* Trigger hasLayout */
    margin-left: 2%;
    width: 18%;
    text-align: center;
}

.container > div:first-child {
    margin-left: 0;
}

.btn {
    background: #a7acb0;
    background-image: -webkit-linear-gradient(top, #a7acb0, #567080);
    background-image: -moz-linear-gradient(top, #a7acb0, #567080);
    background-image: -ms-linear-gradient(top, #a7acb0, #567080);
    background-image: -o-linear-gradient(top, #a7acb0, #567080);
    background-image: linear-gradient(to bottom, #a7acb0, #567080);
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    min-width: 100%;
}

.btn:hover {
    background: #a5aeb3;
    text-decoration: none;
}

footer{
    border-top: 1px solid black;
}

#myProgress {
    position: relative;
    width: 20%;
    height: 30px;
    background-color: grey;
    margin-top:25px;
}
#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: green;
}

textarea{
    overflow: auto;
    width: 99%;
}

#progressLabel{
    text-align: center;
    line-height: 30px;
    color: white;
}

#fileForm{
   max-width: 45%;

}

#userInfo{
   min-height: 515px;
}

.no-overflow{
    overflow-y: auto;
    max-height: 500px;
    max-width: 100%;
}