fieldset{
    display:        inline;
    vertical-align: top;

    min-width:      50%;
    min-height:     50%;
}

.label{
	display: inline-block;
	float: left;
	width: 10em;
	vertical-align: top;
	text-align: right;
	margin-right: 15px;
}

header {
    padding: 5px;
}

.container > div {
    display: inline-block;
    zoom: 1; /* Trigger hasLayout */
    margin-left: 2%;
    width: 15%;
    text-align: center;
}

.container > div:first-child {
    margin-left: 0;
}

#myProgress {
    position: relative;
    width: 20%;
    height: 30px;
    background-color: grey;

}
#myBar {
    position: relative;
    width: 1%;
    height: 50%;
    background-color: green;

}
#myBar2 {
    position: relative;
    width: 1%;
    height: 50%;
    background-color: green;

}

.progressSpan{

}

textarea{
    overflow: auto;
    width: 99%;
    position: relative;
}

/*#progressLabel{
    text-align: center;
    line-height: 30px;
    color: white;
}*/

#fileForm{
    position: relative;
    width: 45%;
    left: 3%;
    margin-right: 10px;
    min-height: 515px;
}

#userInfo{
    position: relative;
    width: 45%;
    min-height: 515px;
    left: 3%;
    color: black;
}

.no-overflow{
    overflow-y: auto;
    max-height: 500px;
    max-width: 100%;
}
.offToRight{
    float: right;

}
#numberOfItems{
    float: right;
    padding-right: 10px;
}
 #area{
     left: 5px;
 }


 ul.bookmark-dropdown{
     min-width: 250px;
 }

ul.bookmark-dropdown .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.bookmark-dropdown li .item:hover{
    background-color: #f3f3f3;
}

ul.bookmark-dropdown li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

 ul.bookmark-dropdown li .item-left{
     float: left;

 }
 
 ul.bookmark-dropdown li .item-right{
     float: right;
     display: inline-block;
 }

 ul.bookmark-dropdown li .item-right button{
     float: right;
 }

.empty{
    padding-left: 10px;
}

#history{
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}