.left{
	float: left;
}

.label{
	display: inline-block;
	float: left;
	width: 10em;
	vertical-align: top;
	text-align: right;
	margin-right: 15px;
}

.localTree{
	width: 200px;
	height: 400px;
	border-top: solid 1px #BBB;
	border-left: solid 1px #BBB;
	border-bottom: solid 1px #FFF;
	border-right: solid 1px #FFF;
	background: #FFF;
	overflow: scroll;
	padding: 5px;
}

header{
    padding: 5px;
}

.container > div {
    display: inline-block;
    zoom: 1; /* Trigger hasLayout */
    margin-left: 2%;
    width: 18%;
    text-align: center;
}

.container > div:first-child {
    margin-left: 0;
}

.btn {
    border-radius: 28px;
    text-shadow: 4px 3px 1px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #59bd5c;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 100%;
}

.btn:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

footer{
    border-top: 1px solid black;
}

#myProgress {
    position: relative;
    width: 20%;
    height: 30px;
    background-color: grey;
    margin-top:25px;
}
#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: green;
}

textarea{
    overflow: auto;
}